<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Form Test</title>
        {# Bootstrap link CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>

    <body class="bg-black">
        <div class="container my-3">
          <div class="row justify-content-center">
            <div class="col-md-6 p-4 rounded bg-body">
              <h1 class="text-center mb-3">Contact Form</h1>
              <hr>
              <div class="col-12">

                {# Show the message success #}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}

              </div>
              <div class="col-12">
                <form method="POST" action="{% url 'contact' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="subject" class="form-label">Subject:</label>
                    <input type="text" name="subject" class="form-control" id="subject" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea name="message" class="form-control" style="height: 200px;" id="message" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <input type="reset" class="btn btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
      </body>
      
        {# Bootstrap link Js #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </body>

</html>