<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form Test</title>
</head>
<body>
    <h1>Contact Form</h1>

    {% if messages %}
        {% for message in messages %}
            <h3> {{ message }} </h3>
        {% endfor %}
    {% endif %}
    
    <form method="POST" action="{% url 'contact' %}">
        
        {% csrf_token %}

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject" required>
        <label for="message">Message:</label>
        <textarea type="textarea" name="message" id="message" cols="30" rows="5" required></textarea>
        <input type="submit" value="Enviar">
        <input type="reset">
    </form>
</body>
</html>